/* ---------------- COLORS ---------------- */
/*
    Orange: #e67e22;
    Silver: #efefef;


*/

/* ---------------- BASIC SETUP ---------------- */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-family: 'Lato', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

    .clearfix {zoom: 1;}
    .clearfix:after {
        content: '.';
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }

section {
     padding: 80px 0;
}

/* ---------------- REUSABLE CODE ---------------- */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 2%;
}

/* ---------------- NAVIGATION ---------------- */

.main-nav {
    float: right;
    margin-top: 60px;
    list-style: none;

}

.main-nav li {
    display: inline-block;
    list-style: none;
    margin-right: 40px;

}

.main-nav li a {
    text-decoration: none;
    list-style: none;


}

/* ---------------- HEADINGS ---------------- */

h1,h2,h3 {

    font-weight: 300;
    text-transform: uppercase;

    }

h1 {
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 8px;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 250%;
}

h2 {
    text-align: center;
    margin-bottom: 80px;

}

h2:after {
    display: block;
    content: " ";
    width: 100px;
    height: 5px;
    background-color: #e67e22;
    margin: 0 auto;
    margin-top: 20px;

}

h3 {
    font-size: 100%;
    text-align: center;
}

h3:after {
    display: block;
    content: " ";
    width: 40px;
    height: 2px;
    background-color: #e67e22;
    margin: 0 auto;
    margin-top: 10px;
}


/* ---------------- HEADER ---------------- */

header {

    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/bg.jpg);

    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.main-head {
    text-align: center;
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.main-head a {

    text-decoration: none;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
}

/* ---------------- BUTTONS ---------------- */


.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px 40px;

    border-radius: 80px;
    -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn:active,
.btn:hover
{
    color: #fff;


}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 2px solid #e67e22;

    color: #fff;

}

.btn-full:active,
.btn-full:hover,
input[type=submit]:hover,
input[type=submit]:active
{
    background-color: #b7641b;
    border: 2px solid #b7641b;
}

.btn-ghost:link,
.btn-ghost:visited {

    border: 2px solid #e67e22;

    color: #e67e22;

}

.btn-ghost:active,
.btn-ghost:hover
{
    background-color: #e67e22;
    color: #fff;

}

/* ---------------- NAVIGATION ---------------- */

.main-nav li a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 90%;
    text-transform: uppercase;
    padding: 10px 0;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;

}

.main-nav li a:link,
.main-nav li a:visited {
     border-bottom: 2px solid transparent;

}
.main-nav li a:active,
.main-nav li a:hover {
     border-bottom: 2px solid #e67e22;

}

/* Scroll navigation */
.sticky {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #afa8a8;
    z-index: 9999;

}

.sticky .main-nav li a:link,
.stickt .main-nav li a:visited {
    color: #555;
    font-size: 75%;


}


.sticky .main-nav { margin-top: 15px;
            margin-bottom: 13px;

}

/* ---------------- NAVIGATION mobile ---------------- */

.mobile-navigation-icon {

    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;

}

.mobile-navigation-icon i {

    font-size: 200%;
    color: #fff;
}


/* ---------------- SECTION TEAM ---------------- */

.team-section {

    background-color: #efefef;

}

.team-head {
    text-align: center;
    margin-bottom: 60px;

}

.plan1 {
    display: block;
    text-align: center;
}

.team-photo {
    margin-top: 20px;
    border-radius: 50%;

}

figcaption {
    font-size: 80%;
    margin-top: 10px;
}

figure {

}

/* ---------------- SECTION OUR WORK ---------------- */

.mobile-h2 {
    padding-top: 1px;
}
.work-section {
   padding-bottom: 0;

}

.work-list {
    width: 100;
    list-style: none;
}

.work-list li {
    display: block;
    float: left;
    width: 25%;
}

.work-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;

}

.work-photo img {

    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.4s;
    transition: opacity 0.2s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.2s;
    transition: transform 0.4s, opacity 0.2s, -webkit-transform 0.4s;
}

.work-photo img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;

}

/* ---------------- SECTION TECH ---------------- */

.tech-section {

      background-color: #efefef;
     margin-bottom: 0;
    padding-bottom: 0;

}

.tech-i {
    font-size: 350%;
    color: #e67e22;
    margin-left: 40%;
}


.tech-h3 {
    margin-top: 5px;;
}


.tech-h2 {
    margin-bottom: 10px;
}

.tech-p {
    margin: 30px 0;
    font-weight: 300;
    word-spacing: 2px;

}


#wall {
  margin: 0;
  padding: 0;
  height: 200px;
  width: 5000px;
  position: relative;
  overflow: hidden;
}

#slider {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

#slider li {
  display: inline-block;
  margin-right: -4px;
}

.slide {
    padding-right: 100px;

}


/* ---------------- SECTION USERS ---------------- */

.user-section {
   background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bg-user.jpg);
   background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bg-user.jpg);
    color: #fff;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;

}

.customer-img {
    border-radius: 50%;
    width: 50px;
    height: auto;
    margin-right: 10px;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;

}

blockquote:before {
    content: "\201C";
    font-size: 400%;
    vertical-align: bottom;


}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    vertical-align: middle;
}

.h2-user {
    margin-bottom: 60px;
}

/* ---------------- SECTION PLAN ---------------- */
.plan-section{

    background-color:  #dedede;
}


.plan-head {
    background-color:#fff;
    box-shadow: 10px 10px 5px #888888;
    color: #e67e22;
    text-align: center;
    border-radius: 4%;

      margin-right: 10px;

}

.plan-title {
    padding-bottom: 30px;
                    background-color: #efefef;
                    padding-top: 40px;
                    border-top-left-radius: 50%;

    font-size: 150%;
    letter-spacing: 5px;
    margin-bottom: 23px;
}



.plan-list {
    list-style: none;


}

.plan-list li {
    text-decoration: none;

    margin: 10px 0;
    padding-bottom: 15px;
    padding-top: 0;
    font-size: 80%;
    text-align: left;
    padding-left: 20px;


}

.plan-list li:last-child {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 130%;
    margin: 20px 0;
    letter-spacing: 2px;

}

.plan-head a {
 text-decoration: none;
    margin-bottom: 25px;


}

.price {
    text-align: center;
}

.plan-icons i {
    font-size: 120%;
    margin-right: 10px;


}

.price {
    text-align: center;
}

/* CORECT BUTTONS IN PLAN */
.btn1:link,
.btn1:visited {
    display: inline-block;
    margin-top: 15px;

    padding: 10px 50px;

    border-radius: 80px;
    -webkit-transition: background-color 0.2s, color 0.2s, border 0.2s;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn1:active,
.btn1:hover
{
    color: #fff;


}

.btn1-full:link,
.btn1-full:visited {
    background-color: #e67e22;
    border: 2px solid #e67e22;

    color: #fff;

}

.btn1-full:active,
.btn1-full:hover
{
    background-color: #b7641b;
    border: 2px solid #b7641b;
}

.btn1-ghost:link,
.btn1-ghost:visited {

    border: 2px solid #e67e22;

    color: #e67e22;

}

.btn1-ghost:active,
.btn1-ghost:hover
{
    background-color: #e67e22;
    color: #fff;

}


/* ---------------- SECTION CONTACT ---------------- */

.section-contact {
    background-image: url(img/bg-contact.jpg);
    color: #fff;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

textarea,
input[type=text],
input[type=email ],
select {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px;
}

label {
    letter-spacing: 2px;
}

*:focus {outline: none;}



/* ---------------- FOOTER ---------------- */

footer {

    padding: 25px 0;
    color: #fff;
    background-color: #262626;
}

.footer-nav {
    float: left;
    list-style: none;
}

.footer-social {
    float: right;
    list-style: none;
}

.footer-nav li a:visited,
.footer-nav li a:link
{
   text-decoration: none;
    color: #9d9d9d;
    margin-right: 20px;
    font-size: 90%;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active
{

    color: #ffffff;

}

.footer-social li i {
    font-size: 125%;
    margin-right: 25px;
    color: #9d9d9d;
}


.footer-social li,
.footer-nav li {
    text-decoration: none;
    display: inline-block;
}

.ion-social-facebook:hover,
.ion-social-facebook:active
{
    color: #3b5998;
}

.ion-social-googleplus:hover,
.ion-social-googleplus:active
{
    color: #3b5998;
}

.ion-social-twitter:hover,
.ion-social-twitter:active
{
    color: #55acee;
}


.footer-p {
    text-align: center;
    font-size: 80%;
    margin-top: 25px;
    color: #9d9d9d;
}

.footer-social li:last-child {
    margin-right: 15px;
}

.footer-nav:first-child {
    margin-left: 15px;
}


/*           ANIMATION        */

.js--wp-5,
.js--wp-9,
.js--wp-10,
.js--wp-11 {
    opacity: 0;

}


.js--wp-5.animated,
.js--wp-9.animated,
.js--wp-10.animated,
.js--wp-11.animated
{
    opacity: 1;
     -webkit-animation-duration: 1.5s;
     animation-duration: 1.5s;

}


.js--wp-2.animated,
.js--wp-7.animated{
   -webkit-animation-delay: 0.4s;
   animation-delay: 0.4s;
}


.js--wp-3.animated,
.js--wp-8.animated {
    opacity: 1;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.js--wp-6.animated {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}



/* ***************************************OUR WORK 2*****************************************************************  */

.test {

   margin-left: 170px;
}

.view {

    width: 250px;
    height: auto;
    display: inline-block;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 22px #d3d3d3;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}



.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative;

}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 65px 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 20px 60px 20px 0;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    margin-right: 60px;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}




/* */


.view-third img {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    padding: 0;
    height: auto;
    width: 250px;

}
.view-third .mask {
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	-webkit-transform: translate(460px, -100px) rotate(180deg);
	transform: translate(460px, -100px) rotate(180deg);
	-webkit-transition: all 0.2s 0.4s ease-in-out;
	transition: all 0.2s 0.4s ease-in-out;
}
.view-third h2{
	-webkit-transform: translateY(-100px);
	transform: translateY(-100px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-third p {
	-webkit-transform: translateX(300px) rotate(90deg);
	transform: translateX(300px) rotate(90deg);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-third a.info {
	-webkit-transform: translateY(-200px);
	transform: translateY(-200px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.view-third:hover .mask {
	opacity:1;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}
.view-third:hover h2 {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
.view-third:hover p	{
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.view-third:hover a.info {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}


/* ***************************************OUR WORK 2*****************************************************************  */
